@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/gothampro.ttf") format('ttf');
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/gothampro_medium.ttf") format('ttf');
}