<section class="hero">
    <div class="hero__wrapper">
        <div class="hero__offer">
            <p>Limited offer</p>
            <div class="timer">
                <p class="hour"><span>04</span>:</p>
                <p class="minutes"><span>51</span>:</p>
                <p class="seconds"><span>16</span></p>
            </div>
        </div>
        <div class="hero__price">
            <p class="hero__price-old">R <span>250.00</span></p>
            <p class="hero__price-new">R <span>160.00</span></p>
        </div>
    </div>
</section>